.btn-orange{
    background-color:#F15A24; color: #FFF;
    border: #F15A24;
    height: 30px;
    width: 70px;
}

.btn-orange2{
    background-color:#F15A24; color: #FFF;
    border: #F15A24;
    height: 35px;
    width: 350px;
}

#nav-text{
    color: #F15A24;
    font-family: 'Raleway', sans-serif;
}

.card-text{
    font-family: 'Raleway', sans-serif;
}

.header-text{
    font-family: 'Raleway', sans-serif;
}

.button-add-job{
    background-color: greenyellow;
    height: 30px;
    width: 70px;
}

.header-text-2{
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 40px;
}


.update{
    display: flex;
    justify-content: end;
}

.orange-1{
    background-color : #F8B400; 
    width: 100%; 
    height : 700px;
}

.orange-2{
    background-color : #F8B400; 
    width: 100%; 
}

.avatar h5 {
    font-weight: bolder;
  }
  .avatar p {
    color: #000000;
    font-size: 16px;
    opacity: 50%;
  }

  .avatar img {
    max-width: 125px;
    max-height: 125px;
    min-width: 125px;
    min-height: 125px;
  }

  div.stars {
    display: inline-block;
  }
  
  input.star { display: none; }
  
  label.star {
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    color: 
  #444;
    transition: all .2s;
  }
  
  input.star:checked ~ label.star:before {
    content: '⭐';
    color: 
  #e74c3c;
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: 
  #e74c3c;
    text-shadow: 0 0 5px 
  #7f8c8d;
  }
  
  input.star-1:checked ~ label.star:before { color: 
  #F62; }
  
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  
  label.star:before {
    content: '★';
    font-family: 'FontAwesome';
  }

